body {
  min-height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #7a7ab8; */
  background-color: #2f2f5f;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 1.2rem;
  scroll-behavior: smooth;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
h1,
p {
  text-align: center;
  margin: 1em auto;
}
form {
  width: 60vw;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
fieldset {
  border: none;
  padding: 2em 0;
  border-bottom: 3px solid #3b3b4f;
}

input {
  margin: 0.4em 0 0.8em 0;
  padding: 0.4em 0.2em;
}
input,
textarea {
  background-color: #0a0a23;
  color: #fff;
}
input,
textarea,
select {
  border: 1px solid #0a0a23;
  font-size: 1.2rem;
  width: 100%;
}
input[type="file"],
select {
  padding: 0.4rem 0;
}
.inline {
  display: inline;
  width: unset;
  vertical-align: center;
}

input[type="submit"] {
  display: block;
  width: 60%;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  margin-inline: auto;
}
input[type="submit"]:active {
  opacity: 0.6;
}
.terms-link {
  color: #dfdfe2;
}
